﻿@model IEnumerable<Artsofte.Test.Areas.Team.Models.Department>

@{
    ViewBag.Title = "Отделы";
}

<h2>Отделы</h2>

<p>
    @Html.ActionLink("Создать новый", "Add", "Departments", new { area = "Team" }, null)
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Floor)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Floor)
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", "Departments", new { id = item.Id }, null) |
                @Html.ActionLink("Удалить", "Delete", "Departments", new { id = item.Id }, null)
            </td>
        </tr>
    }

</table>
