﻿@model IEnumerable<Employee>

@{
    ViewBag.Title = "Сотрудники";
}

<h2>Сотрудники</h2>

<p>
    @Html.ActionLink("Добавить", "Add")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecondName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SecondName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", "Employees", new { id = item.Id }, null) |
            @Html.ActionLink("Описание", "Detail", "Employees", new { id = item.Id }, null) |
            @Html.ActionLink("Удалить", "Delete", "Employees", new { id = item.Id }, null)
        </td>
    </tr>
}

</table>
