﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css",
                    "~/Content/jqueryui")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.RouteLink("Домашняя", "Default", new { action = "Index", controller = "Home" })</li>
                    <li>@Html.RouteLink("О нас", "Default", new { action = "About" , controller = "Home"})</li>
                    <li>@Html.ActionLink("Сотрудники", "List", "Employees", new { area = "Team" }, null)</li>
                    <li>@Html.ActionLink("Отделы", "List", "Departments", new { area = "Team" }, null)</li>
                    <li>@Html.ActionLink("Языки программирования", "List", "ProgrammingLanguages", new { area = "Team" }, null)</li>
                    <li>@Html.ActionLink("Имена", "List", "Names", new { area = "Team" }, null)</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    @RenderSection("Body", required: false)
</body>
</html>
