﻿@model IEnumerable<Artsofte.Test.Areas.Team.Models.ProgrammingLanguage>

@{
    ViewBag.Title = "Языки программирования";
}

<h2>Языки программирования</h2>

<p>
    @Html.ActionLink("Создать новый", "Add", "ProgrammingLanguages", new { area = "Team" }, null)
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", "ProgrammingLanguages", new { id = item.Id }, null) |
            @Html.ActionLink("Удалить", "Delete", "ProgrammingLanguages", new { id = item.Id }, null)
        </td>
    </tr>
}
</table>
