﻿@{
    ViewBag.Title = "О нас";
}
<h2>@ViewBag.Title.</h2>


<p>Репозиторий с проектом находится по адресу - <a href="https://bitbucket.org/Artur2/artsofte.test">https://bitbucket.org/Artur2/artsofte.test</a></p>
