﻿@model IEnumerable<Artsofte.Test.Areas.Team.Models.Name>

@{
    ViewBag.Title = "Имена";
}

<h2>Имена</h2>

<p>
    @Html.ActionLink("Добавить", "Add")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", "Names", new { id = item.Id }, null) |
            @Html.ActionLink("Удалить", "Delete", "Names", new { id = item.Id }, null)
        </td>
    </tr>
}

</table>
